<h2 mat-dialog-title>Edit Task</h2>

<form [formGroup]="form">

    <mat-form-field>
        <textarea matInput
            placeholder="Task Description"
            formControlName="description"></textarea>
    </mat-form-field>
    <br />
    <mat-form-field>
        <input matInput
            placeholder="Deadline"
            formControlName="deadline">
    </mat-form-field>
    <br />
    <mat-form-field>
        <input matInput
            placeholder="Priority"
            formControlName="priority">
    </mat-form-field>
    <br />
    <mat-form-field>
        <input matInput
            placeholder="Progress"
            formControlName="progress">
    </mat-form-field>
    <br />
    <mat-form-field>
        <input matInput
        placeholder="Assignee"
        formControlName="engineer_id">
    </mat-form-field>
</form>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
