<app-navbar></app-navbar>
<h2 id="projects-page-title">Projects</h2>
<section id="projects-page-content">
  <div id="projects-page-form">
    <mat-form-field id="projects-page-search">
      <input matInput appearance="fill" type="search" placeholder="Search for project">
    </mat-form-field>
    <button mat-mini-fab id="projects-page-add-project-button" aria-label="add a project">
      <span class="material-icons">add</span>
    </button>
  </div>
  <section id="projects-page-projects">
    <app-project-card *ngFor="let project of projects" [project]="project"></app-project-card>
  </section>
</section>
