#project-card-container {
  --dark-blue: #05174b;

  border-color: var(--dark-blue);
  border-width: 1px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1),
              0 4px 4px 0 rgba(0, 0, 0, 0.3),
              0 2px 2px 0 rgba(0, 0, 0, 0.5);
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

#project-card-content {
  text-align: center;
}

#project-card-footer {
  display: flex;
  gap: 25px;
  margin: 0 15px 0 15px;
}
