#ufoImage {
  margin: 0 auto;
  max-width: 100%;
  z-index: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  /* position: sticky;
	top: 0; */
}

#logo {
  width: 250px;
  height: 250px;
  margin: -40px;
}
