nav {
  display: flex;
  justify-content: space-between;
  /* position: sticky;
	top: 0; */
}

#logo {
  width: 250px;
  height: 250px;
  margin: -40px;
}

#signup-page {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.color {
  background-color: #05174b;
  color: white;
}

.login {
  text-align: center;
}

.text-link {
  text-decoration: none;
  color: #05174b;
}

.text-link:hover {
  border-bottom: 1px solid;
}

@media (max-width: 1020px) {
  header {
    flex-direction: column-reverse;
    padding: 15px;
  }
  #banner {
    align-self: center;
    margin-left: 70px;
    width: 70%;
  }
  header article {
    align-self: center;
    line-height: 1.5;
    width: 60%;
    text-align: center;
    margin: 30px;
  }
  .showcase {
    flex-direction: column;
    align-items: center;
  }
  .showcase article {
    text-align: center;
  }
  .showapp {
    width: 100%;
  }

  #standout {
    flex-direction: column-reverse;
  }
}
