<div id="landing-page">
  <nav>
    <a [routerLink]="['/']">
      <img id="logo" src="../../assets/Untitled_Artwork.png" alt="AstroNote"
    /></a>
    <ul>
      <li>
        <a [routerLink]="['/login']" class="text-link"><button mat-button>Log In</button></a>
      </li>
      <li>
        <a [routerLink]="['/signup']" mat-stroked-button class="color"
          >Try AstroNote</a
        >
      </li>
    </ul>
  </nav>

  <header>
    <article>
      <h1>Projects beyond this World!</h1>
      <p>
        Get your work done at the speed of light, with a easy to use UI Get your
        work done at the speed of light, with a easy to use UI Get your work
        done at the speed of light, with a easy to use UI
      </p>
      <a [routerLink]="['/signup']" mat-stroked-button class="color"
        >Try AstroNote</a
      >
    </article>
    <img src="../../assets/Untitled_Artwork-1.png" id="banner" alt="Astronaut on moon with pencil and papers flying" />
  </header>

  <main>
    <section class="showcase">
      <article>
        <img
          class="rocket"
          src="https://cdn-icons-png.flaticon.com/512/3712/3712139.png"
          alt="rocket"
        />
        <h2>asdfasdfasdfasdfasfasfsadfasdfasfa</h2>
        <p>asdfasdfasdfasdfasfasfaafasdfasdfasdfsgasdgasdfasfasdf</p>
      </article>
      <img
        class="showapp"
        src="https://cdn.vox-cdn.com/thumbor/tW1HmbZemFY6IhzN8rGgZsKgbds=/0x0:2000x1403/1200x800/filters:focal(840x542:1160x862)/cdn.vox-cdn.com/uploads/chorus_image/image/65263805/notion.0.png"
        alt="screenshot of app"
      />
    </section>

    <section class="showcase" id="standout">
      <img
        class="showapp"
        src="https://cdn.vox-cdn.com/thumbor/tW1HmbZemFY6IhzN8rGgZsKgbds=/0x0:2000x1403/1200x800/filters:focal(840x542:1160x862)/cdn.vox-cdn.com/uploads/chorus_image/image/65263805/notion.0.png"
        alt="screenshot of app"
      />
      <article>
        <img
          class="rocket"
          src="https://cdn-icons-png.flaticon.com/512/2834/2834797.png"
          alt="three aliens"
        />
        <h2>asdfasdfasdfasdfasfasfsadfasdfasfa</h2>
        <p>asdfasdfasdfasdfasfasfaafasdfasdfasdfsgasdgasdfasfasdf</p>
      </article>
    </section>

    <section class="showcase">
      <article>
        <img
          class="rocket"
          src="https://cdn-icons-png.flaticon.com/512/4076/4076459.png"
          alt="UFO"
        />
        <h2>asdfasdfasdfasdfasfasfsadfasdfasfa</h2>
        <p>asdfasdfasdfasdfasfasfaafasdfasdfasdfsgasdgasdfasfasdf</p>
      </article>
      <img
        class="showapp"
        src="https://cdn.vox-cdn.com/thumbor/tW1HmbZemFY6IhzN8rGgZsKgbds=/0x0:2000x1403/1200x800/filters:focal(840x542:1160x862)/cdn.vox-cdn.com/uploads/chorus_image/image/65263805/notion.0.png"
        alt="screenshot of app"
      />
    </section>
  </main>

  <footer class="footer" id="footer">
    <span class="col">
      <h3 class="col-title">Info</h3>
      <nav class="col-list">
        <ul>
          <li><a href="#">Formats</a></li>
          <li><a href="#">Compression</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Status</a></li>
        </ul>
      </nav>
    </span>

    <span class="col">
      <h3 class="col-title">Resources</h3>
      <nav class="col-list">
        <ul>
          <li><a href="#">Developer API</a></li>
          <li><a href="#">Tools</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>
    </span>

    <span class="col">
      <h3 class="col-title">Company</h3>
      <nav class="col-list">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </nav>
    </span>
  </footer>
</div>
