<div id="page-wrapper">
    <div class="task-container">
        <div class="tasks-heading">
            <h2 id="heading">To do</h2>
            <span class="material-icons md-36" (click)="addTask()">
                add_circle
            </span>
        </div>

        <div
            cdkDropList
            #tasksList="cdkDropList"
            [cdkDropListData]="tasks"
            class="task-list"
            (cdkDropListDropped)="drop($event)">
            <div class="task-box" *ngFor="let item of tasks" cdkDrag>
                {{item}}
                <div>
                    <span class="material-icons" (click)="editTask(item)">edit</span>
                    <span class="material-icons" (click)="deleteTask(item)">delete</span>
                </div>
            </div>
        </div>
    </div>
</div>
