<nav>
  <a [routerLink]="['/']">
    <img id="logo" src="../../assets/Untitled_Artwork.png" alt="AstroNote"
  /></a>
</nav>

<div id="login-page">

  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input type="username" matInput placeholder="Ex. patusernameexample" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      type="password"
      matInput
      placeholder="Don't share your password with anyone"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

  </mat-form-field>
  <a [routerLink]="['/']" mat-stroked-button class="color">Log in</a>

  <div id="login">
    Don't have an account?
    <a [routerLink]="['/signup']" class="text-link">Sign up here.</a>
  </div>
  
</div>
