<div class="dashboard-layout">
    <h1>Greetings, Earthling #261</h1>
    
    <form action="/single-page" >
        <mat-form-field appearance="fill" id="form">
            <input type="search" matInput placeholder="Search For Project... " />
        </mat-form-field>
    </form>


    <div class="today">
        <h3>Today</h3>
        <div class="tasks">
            <mat-card class="card" [routerLink]="['/single-page']" *ngFor="let item of today">{{item}}</mat-card>
        </div>
    </div>

    <div class="upcoming">
        <h3>Upcoming Tasks</h3>
        <div class="tasks">
                <mat-card class="card" [routerLink]="['/single-page']" *ngFor="let item of upcoming">{{item}}</mat-card>
            
        </div>
    </div>

    <div class="projects">
        <h3>Projects</h3>
        <div class="tasks">
            <mat-card class="card" [routerLink]="['/single-page']" *ngFor="let item of projects">
                <h4>{{item.name}}</h4>
                <h4>Tasks: {{item.tasks}}</h4>
                <h4>In Progess: {{item.inProgress}}</h4>
                <h4>Deadline: {{item.deadline}}</h4>
            </mat-card>
        </div>
    </div>
</div>
