<div class="dashboard-layout">
    <h1>Greetings, Earthling #261</h1>
    <mat-form-field appearance="fill">
        <input type="search" matInput placeholder="Search for projects... " />
    </mat-form-field>
    <div class="today">
        <h3>Today</h3>
        <div class="tasks">
            <mat-card class="card">asdfasdf</mat-card>
            <mat-card class="card">adf</mat-card>
            <mat-card class="card">fasdf</mat-card>
        </div>
    </div>
    <div class="upcoming">
        <h3>Upcoming Tasks</h3>
        <div class="tasks">
            <mat-card class="card">asdfasdf</mat-card>
            <mat-card class="card">adf</mat-card>
            <mat-card class="card">fasdf</mat-card>
        </div>
    </div>
    <div class="projects">
        <h3>Projects</h3>
    </div>
</div>
